<h3>Cadastrar Alunos</h3>
<form action="/addproduto" method="post">
  <div class="form-group">
    <label for="email">Nome:</label>
    <input type="text" class="form-control" placeholder="Informe o nome" id="nome" name="nome">
  </div>
  <div class="form-group">
    <label for="pwd">Descrição:</label>
    <input type="text" class="form-control" placeholder="Informe a descrição" id="descricao" name="descricao">
  </div>
  <div class="form-group">
    <label for="pwd">Preço:</label>
    <input type="text" class="form-control" placeholder="Informe o preço" id="preco" name="preco">
  </div>
  <div class="form-group">
    <label for="pwd">Caminho da imagem:</label>
    <input type="text" class="form-control" placeholder="img/produtos/prod2.jpg" id="imgsource" name="imgsource">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 