<div class="container__form">
  <div class="titulo__form">
    <h3>Cadastrar</h3>
  </div>


  <form action="/produtos/add" method="post">

    <div class="form-group">
      <label for="email" class="labels">Nome:</label>
      <input type="text" class="form-control" placeholder="Informe o nome" id="nome" name="nome">
    </div>
    <div class="form-group">
      <label for="pwd" class="labels">Descrição:</label>
      <input type="text" class="form-control" placeholder="Informe a descrição" id="descricao" name="descricao">
    </div>
    <div class="form-group">
      <label for="pwd" class="labels">Preço:</label>
      <input type="text" class="form-control" placeholder="Informe o preço" id="preco" name="preco">
    </div>
    <div class="form-group">
      <label for="pwd" class="labels">Caminho da imagem:</label>
      <input type="text" class="form-control" placeholder="img/produtos/{nomeColeção}/nomeColecao1.extensão" id="imgsource" name="imgsource">
    </div>
    <div class="button-form">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
  </form>

</div>