 <div class="titulo__form">
    <h3>Cadastrar Vendas</h3>
  </div>

<div class="formulario">
    
        <form class="form" action="">
          <div class="form-item col-responsive">
            <input class="input" type="text" name="nome" required="required" id="name"/>
            <label class="label" for="nome">Nome</label>
          </div>
          
          <div class="form-item col-responsive">
            <input class="input" type="text" name="email" required="required" id="email"/>
            <label class="label" for="email">Data de nascimento</label>
          </div>
          <div class="form-item col-responsive">
            <input class="input" type="text" name="email" required="required" id="email"/>
            <label class="label" for="email">Email</label>
          </div>
           <div class="form-item col-responsive">
            <input class="input" type="text" name="email" required="required" id="email"/>
            <label class="label" for="email">Telefone</label>
          </div>
<div class="form-item col-responsive">
            <input class="input" type="text" required="required"/>
            <label class="label" for="email">Endereço</label>
          </div>
          <div class="form-item">
            <input class="botao" type="submit" value="Enviar"/>
          </div>
        </form>
    
    </div><!--Class Formulario-->