<section class="contatos">
    <div class="container__contato">
        <div class="container__links">
            <h2 class="contato__titulo">Fale Conosco</h2>

            <div class="contato__links">
                <span class="contato__texto"><i class="fa-solid fa-phone"></i>+99 99 9 9999-9999</span>
            </div>

            <div class="contato__links">
                <span class="contato__texto email"><i class="fa-solid fa-envelope"></i>meuemail@meudominio.com.br</span>
            </div>
        </div>


        <div class="contato__icons">
            <h2 class="contato__titulo">Redes Sociais</h2>
            <div class="contato__links">
                <a href="https://www.facebook.com/belezaemessencia" target="_blank">
                    <h3><i class="fa-brands fa-facebook"></i>Facebook</h3>
                </a>
            </div>
            <div class="contato__links">
                <a href="https://www.instagram.com/belezaemessenci" target="_blank" id="instagram">
                    <h3><i class="fa-brands fa-instagram"></i>
                        Instagram</h3>

                </a>
            </div>
            <div class="contato__links">
                <a href="https://www.twitter.com/belezaemessencia" target="_blank">
                    <h3><i class="fa-brands fa-twitter"></i>Twitter</h3>
                </a>
            </div>
            <div class="contato__links">
                <a href="https://www.youtube.com/belezaemessencia" target="_blank">
                    <h3> <i class="fa-brands fa-youtube"></i>Youtube</h3>
                </a>
            </div>
        </div>
    </div>
</section>