<section class="sobre">
    <div class="container__sobre">
        <h1 class="sobre__titulo">Nossa História</h1>
        <span class="sobre__imagem"></span>
        <div class="conteudo__sobre">
            <p class="sobre__texto">Na Beleza em Essência, acreditamos que a verdadeira beleza é mais do que apenas
                produtos de qualidade - é um reflexo do seu brilho interior. Desde nossa inauguração em 2005, nos
                tornamos o destino definitivo para os amantes de cosméticos que buscam não apenas aprimorar sua
                aparência, mas também celebrar sua individualidade e autoexpressão.
            </p>
            <p class="sobre__texto">Junte-se a Nós:
                Na Beleza em Essência, acreditamos que a beleza é para todos. Não importa quem você é ou de onde
                você vem, você é bem-vindo em nossa loja. Junte-se a nós em nossa missão de celebrar a diversidade,
                promover a autoconfiança e inspirar o brilho interior de todos os que cruzam nosso caminho. Estamos
                ansiosos para recebê-lo em nossa comunidade de beleza apaixonada e compassiva.
            </p>
        </div>
    </div>
</section>