<html>
<head>
<style>
table {
  border-collapse: inherit;
  width: 100%;
  padding: 0 0 5em 0;
}

th, td {
  text-align: left;
  padding: 1.5em;
}

h3{
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>

<h3>Tabela de Vendas</h3>

<div style="overflow-x: auto;">
  <table>
    <tr>
      <th>Nome</th>
      <th>Data de nascimento</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
    </tr>
  </table>
</div>

</body>
</html>