.container__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5em;
    justify-content: center;
    align-items: center;  
}

.container__form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  }

.titulo__form h3{
    padding: 1em;
    font-size: 25px;
    margin-top: 1em;
}

.form-group{
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


input[type=text], select {
    width: 75%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
  }
  
  .button-form{
    padding: 1em;
    text-align: center;
    justify-content: center;
  }

  .btn {
    background-color: var(--cor-principal);
    color: var(--cor-fonte-principal);
    font-size: 20px;
    text-decoration: none;
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 19px;
    width: 70%;
    height: 100%;
    padding: .5em 0;
    transition: all 0.1s ease-in; 
    align-self: center;
  }

  .btn:hover{
    background-color: #37054d;
  }

  .form-item {
    display: flex;
    justify-content: center;
  }